/* MERGED CSS*/
html, body {                
    height: auto;
    width: 98vw;
    background-color: rgb(34, 35, 37);
    margin: 0px;
    padding: 0px;          
}

body * {
    font-family: arial;          
}

form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#gsform {    
    width: 70vw;
}

#isform {
    width: 60vw;
}

#asform {
    width: 500px;    
    justify-content: flex-start;
    margin-left: 10px;
}

form > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.asform-block {
    margin-bottom: 35px;
}

#gsimg {
    height: 32vh;
    margin: 10px;
}

#isimg {
    height: 26vh;
    margin-bottom: 16px;
}

#astopicon {
    height: 33px; 
    margin-top: 2px;
}

a {
    color: white;
    font-size: 13px;       
    text-decoration: none;
    margin: 8px;
}

a:hover {
    text-decoration:underline ;
}

input[type="text"] {
    color: white;
    /*background-color: #5e6169;*/
    font-size:16px;
}

.search-bar {
    height: 46px;
    width: 100%;
    border-radius: 25px;
    background-color: #565860;
    padding: 0px 25px;
    border: none;
    margin-bottom: 18px;
}

.asinput-text {
    height: 42px;
    width: 320px;
    border-radius: 4px;
    background-color: rgb(34, 35, 37);
    padding: 0px 10px;
    border: 1px solid rgb(203, 203, 203);
    margin: 0px 0px 0px 5px;
}

.search-bar:hover {
    background-color: #6f7278;
}

.search-bar:focus {
    border: none;
    outline: none;
    background-color: rgb(51, 51, 51);
}

.asinput-text:focus {
    outline: 1px solid rgb(165, 195, 227) ;
}

input[type="submit"] {
    color: white;
    margin: 10px 6px;    
    font-weight: 530;
    border: none;    
    font-size: 15px;
}

.main-buttons {
    padding: 10px 18px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

#as-buttons {
    padding: 14px 18px;
    border-radius: 25px;
    background-color: rgb(165, 195, 227);
    margin: 0px 10px 0px 0px;
}

.sub-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.main-buttons:hover {
    outline: 1px solid rgb(152, 152, 152);
}

.tab-sec {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tabs-block {    
    margin-right: 18px;
    padding-right: 10px; 
}

#as-tabs {
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid #606060;                
}

.main-containers {
    display: flex;
    justify-content:center;
    margin: 10px 0px 25px 0px;
}

.as-containers {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.titles {
    color: #d0d0d0;
    width: 100%;
    font-weight: normal;
}

h1 {    
    font-size: 28px;    
    margin: 40px 0px 25px 19px;
}

h2 {
    font-size: 22px;
    margin: 20px 0px 35px 18px;
}

form > div > p {
    color: rgb(169, 168, 168);
    width: 130px;
    font-size: 14px;
    margin: 0px 10px 0px 0px;
}





